# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [16]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df
df.head()
# Display the original column names
display("Original Column Names:")
display(df.columns )
# Clean the column names
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state').str.replace('custateomer', 'customer')
# Display the cleaned column names
display("\nCleaned Column Names:")
display(df.columns)
# Display the DataFrame with cleaned column names
display("\nDataFrame with Cleaned Column Names:")
display(df.head())

'Original Column Names:'

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

'\nCleaned Column Names:'

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

'\nDataFrame with Cleaned Column Names:'

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [19]:
# Clean the 'gender' column
df['gender'] = df['gender'].str.upper().replace({'FEMAL': 'F', 'MALE': 'M', 'FEMALE': 'F'})

# Clean the state abbreviations in the 'state' column
state_mapping = {'AZ': 'Arizona', 'CALI': 'California', 'WA': 'Washington'}
df['state'] = df['state'].str.upper().replace(state_mapping)

# Clean the 'education' column
df['education'] = df['education'].replace({'BACHELORS': 'BACHELOR'})

# Clean the 'customer lifetime value' column
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')

# Clean the 'vehicle class' column
vehicle_mapping = {'SPORTS CAR': 'LUXURY', 'LUXURY SUV': 'LUXURY', 'LUXURY CAR': 'LUXURY'}
df['vehicle_class'] = df['vehicle_class'].str.upper().replace(vehicle_mapping)

# Display the cleaned DataFrame
print("\nDataFrame with Cleaned Values:")
print(df.head())

DataFrame with Cleaned Values:
  customer       state gender             education customer_lifetime_value  \
0  RB50392  WASHINGTON    NaN                Master                     NaN
1  QZ44356     ARIZONA      F              Bachelor               697953.59
2  AI49188      NEVADA      F              Bachelor              1288743.17
3  WW63253  CALIFORNIA      M              Bachelor               764586.18
4  GA49547  WASHINGTON      M  High School or Below               536307.65

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  FOUR-DOOR CAR            2.704934
1  FOUR-DOOR CAR         1131.464935
2   TWO-DOOR CAR          566.472247
3            SUV          529.881344
4  FOUR-DOOR CAR           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [22]:
# Convert 'customer lifetime value' column to numeric
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

# Extract the middle number from 'number of open complaints' column
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# Display the data types of the columns
print("\nData Types of Columns:")
print(df.dtypes)

# Display the DataFrame with formatted data types
print("\nDataFrame with Formatted Data Types:")
print(df.head())

Data Types of Columns:
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

DataFrame with Formatted Data Types:
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  WASHINGTON    NaN                Master                      NaN
1  QZ44356     ARIZONA      F              Bachelor                697953.59
2  AI49188      NEVADA      F              Bachelor               1288743.17
3  WW63253  CALIFORNIA      M              Bachelor                764586.18
4  GA49547  WASHINGTON      M  High School or Below                536307.65

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0      0.0                1000.0                        0.0   Personal Auto
1      0.0                  94.0                        0.0   Personal Auto
2  48767.0                 108.0                        0.0   Personal Auto
3      0.0                 106.0                        0.0  Corporate Auto
4  36357.0                  68.0                        0.0   Personal Auto

   vehicle_class  total_claim_amount
0  FOUR-DOOR CAR            2.704934
1  FOUR-DOOR CAR         1131.464935
2   TWO-DOOR CAR          566.472247
3            SUV          529.881344
4  FOUR-DOOR CAR           17.269323

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [25]:
# Fill NaN values with 0 in numeric columns
df[numeric_columns] = df[numeric_columns].fillna(0)

# Convert remaining non-finite values to integers
df[numeric_columns] = df[numeric_columns].astype(int, errors='ignore')

# Display the DataFrame after handling non-finite values and formatting numeric variables
print("\nDataFrame after Handling Non-finite Values and Formatting Numeric Variables:")
print(df.head())

# Identify columns with null values and count the number of null values in each column
null_columns = df.columns[df.isnull().any()]
null_counts = df[null_columns].isnull().sum()

print("\nColumns with Null Values and their Counts:")
print(null_counts)

# Decide on a strategy for handling the null values
# For example, let's fill null values in 'number of open complaints' with the median value
median_open_complaints = df['number_of_open_complaints'].median()

# Implement the chosen strategy to handle null values
df['number_of_open_complaints'].fillna(median_open_complaints, inplace=True)

# Verify that the strategy has successfully handled the null values
null_columns_after = df.columns[df.isnull().any()]

print("\nColumns with Null Values after Handling:")
print(null_columns_after)

# Convert all numeric variables to integers
numeric_columns = df.select_dtypes(include=['number']).columns
df[numeric_columns] = df[numeric_columns].astype(int)

# Display the DataFrame after handling null values and converting numeric variables to integers
print("\nDataFrame after Handling Null Values and Formatting Numeric Variables:")
print(df.head())

DataFrame after Handling Non-finite Values and Formatting Numeric Variables:
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  WASHINGTON    NaN                Master                        0
1  QZ44356     ARIZONA      F              Bachelor                   697953
2  AI49188      NEVADA      F              Bachelor                  1288743
3  WW63253  CALIFORNIA      M              Bachelor                   764586
4  GA49547  WASHINGTON      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  FOUR-DOOR CAR                   2
1  FOUR-DOOR CAR                1131
2   TWO-DOOR CAR                 566
3            SUV                 529
4  FOUR-DOOR CAR                  17

Columns with Null Values and their Counts:
customer         2937
state            2937
gender           3054
education        2937
policy_type      2937
vehicle_class    2937
dtype: int64

Columns with Null Values after Handling:
Index(['customer', 'state', 'gender', 'education', 'policy_type',
       'vehicle_class'],
      dtype='object')

DataFrame after Handling Null Values and Formatting Numeric Variables:
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  WASHINGTON    NaN                Master                        0
1  QZ44356     ARIZONA      F              Bachelor                   697953
2  AI49188      NEVADA      F              Bachelor                  1288743
3  WW63253  CALIFORNIA      M              Bachelor                   764586
4  GA49547  WASHINGTON      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  FOUR-DOOR CAR                   2
1  FOUR-DOOR CAR                1131
2   TWO-DOOR CAR                 566
3            SUV                 529
4  FOUR-DOOR CAR                  17

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [28]:
df.duplicated()
# Use the .duplicated() method to identify duplicate rows
duplicate_rows = df[df.duplicated()]

print("\nDuplicate Rows:")
print(duplicate_rows)

# Decide on a strategy for handling duplicates
# For example, let's keep only the first occurrence of each duplicated row

# Implement the chosen strategy using the drop_duplicates() function
df_cleaned = df.drop_duplicates()

# Verify that the strategy has successfully handled the duplicates
duplicate_rows_after = df_cleaned[df_cleaned.duplicated()]
print("\nDuplicate Rows after Handling:")
print(duplicate_rows_after)

# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv("cleaned_dataset.csv", index=False)

# Display the cleaned DataFrame
print("\nCleaned DataFrame:")
print(df_cleaned.head())

Duplicate Rows:
     customer state gender education  customer_lifetime_value  income  \
1072      NaN   NaN    NaN       NaN                        0       0
1073      NaN   NaN    NaN       NaN                        0       0
1074      NaN   NaN    NaN       NaN                        0       0
1075      NaN   NaN    NaN       NaN                        0       0
1076      NaN   NaN    NaN       NaN                        0       0
...       ...   ...    ...       ...                      ...     ...
4003      NaN   NaN    NaN       NaN                        0       0
4004      NaN   NaN    NaN       NaN                        0       0
4005      NaN   NaN    NaN       NaN                        0       0
4006      NaN   NaN    NaN       NaN                        0       0
4007      NaN   NaN    NaN       NaN                        0       0

      monthly_premium_auto  number_of_open_complaints policy_type  \
1072                     0                          0         NaN
1073                     0                          0         NaN
1074                     0                          0         NaN
1075                     0                          0         NaN
1076                     0                          0         NaN
...                    ...                        ...         ...
4003                     0                          0         NaN
4004                     0                          0         NaN
4005                     0                          0         NaN
4006                     0                          0         NaN
4007                     0                          0         NaN

     vehicle_class  total_claim_amount
1072           NaN                   0
1073           NaN                   0
1074           NaN                   0
1075           NaN                   0
1076           NaN                   0
...            ...                 ...
4003           NaN                   0
4004           NaN                   0
4005           NaN                   0
4006           NaN                   0
4007           NaN                   0

[2936 rows x 11 columns]

Duplicate Rows after Handling:
Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

Cleaned DataFrame:
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  WASHINGTON    NaN                Master                        0
1  QZ44356     ARIZONA      F              Bachelor                   697953
2  AI49188      NEVADA      F              Bachelor                  1288743
3  WW63253  CALIFORNIA      M              Bachelor                   764586
4  GA49547  WASHINGTON      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  FOUR-DOOR CAR                   2
1  FOUR-DOOR CAR                1131
2   TWO-DOOR CAR                 566
3            SUV                 529
4  FOUR-DOOR CAR                  17

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [42]:
# data_cleaning.py

import pandas as pd

def clean_column_names(df):
    # Clean column names
    df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state').str.replace('custmer', 'customer')
    return df

def clean_inconsistent_values(df):
    # Clean inconsistent values
    df['gender'] = df['gender'].str.upper().replace({'FEMAL': 'F', 'MALE': 'M', 'FEMALE': 'F'})
    state_mapping = {'AZ': 'Arizona', 'CALI': 'California', 'WA': 'Washington'}
    df['state'] = df['state'].str.upper().replace(state_mapping)
    df['education'] = df['education'].replace({'BACHELORS': 'BACHELOR'})
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
    vehicle_mapping = {'SPORTS CAR': 'LUXURY', 'LUXURY SUV': 'LUXURY', 'LUXURY CAR': 'LUXURY'}
    df['vehicle_class'] = df['vehicle_class'].str.upper().replace(vehicle_mapping)
    return df

def format_data_types(df):
    # Format data types
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]
    df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
    return df

def handle_null_values(df):
    # Handle null values
    df['number_of_open_complaints'].fillna(df['number_of_open_complaints'].median(), inplace=True)
    return df

def handle_duplicates(df):
    # Handle duplicates
    df_cleaned = df.drop_duplicates()
    return df_cleaned

def convert_to_integers(df):
    # Convert numeric variables to integers
    numeric_columns = df.select_dtypes(include=['number']).columns
    df[numeric_columns] = df[numeric_columns].fillna(0).astype(int, errors='ignore')
    return df

def main():
    # Load the dataset
    df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

    # Perform all cleaning and formatting steps
    df = clean_column_names(df)
    df = clean_inconsistent_values(df)
    df = format_data_types(df)
    df = handle_null_values(df)
    df = handle_duplicates(df)
    df = convert_to_integers(df)

    # Display the cleaned DataFrame
    display(df.head())

if __name__ == "__main__":
    main()

KeyError: 'customer_lifetime_value'

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [39]:
import pandas as pd

# Assuming df contains the cleaned and formatted data
# Calculate the 75th percentile of the total claim amount
claim_amount_75th_percentile = df['total_claim_amount'].quantile(0.75)

# Calculate the 25th percentile of the customer lifetime value
clv_25th_percentile = df['customer_lifetime_value'].quantile(0.25)

# Filter the DataFrame to select customers with high policy claim amount and low customer lifetime value
selected_customers = df[(df['total_claim_amount'] > claim_amount_75th_percentile) & 
                        (df['customer_lifetime_value'] < clv_25th_percentile)]

# Calculate summary statistics for the selected customers
summary_statistics = selected_customers[['total_claim_amount', 'customer_lifetime_value']].describe()

# Display the summary statistics
display(summary_statistics)

       total_claim_amount  customer_lifetime_value
count                 0.0                      0.0
mean                  NaN                      NaN
std                   NaN                      NaN
min                   NaN                      NaN
25%                   NaN                      NaN
50%                   NaN                      NaN
75%                   NaN                      NaN
max                   NaN                      NaN